<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

  <div class="footer" th:fragment = "footer">
    <footer class="page-footer font-small cyan darken-3">
      <div class="footer-copyright test-center py-3">
        <hr style="border: solid 2px black">
        (주)봉샵  사업자 등록번호 960-41140-9604<br>
        통신 판매업신고 번호 : 제 2023-경남-28호<br>
        경상남도 양산시 금오 16길 122<br>
        대표전화 : 010-4615-1433<br>
        FAX : 051-4615-1433
      </div>
    </footer>
  </div>
</html>